@import "styles/global.scss";

#custom-pagination {
	display: flex;
	flex-direction: row-reverse;
	padding: 1rem;
	justify-content: flex-start;
	list-style: none;
	li {
		cursor: pointer;
		margin: 0.25rem;
		box-shadow: $box-shadow;
		display: flex;
		padding: 1rem;
		color: $gray-color;
		background-color: transparent;
		justify-content: center;
		align-items: center;
		border-radius: 0.475rem;
		height: 1rem;
		min-width: 1rem;
		font-weight: 500;
		font-size: 0.8rem;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		&:hover {
			background-color: rgba($color: $red-color, $alpha: 0.5);
			color: $white-color;
		}
	}
	.active {
		color: #ffffff;
		background-color: $red-color;
		&:hover {
			background-color: $red-color !important;
			color: #ffffff !important;
		}
	}
}
