@import "styles/global.scss";
.TbuttonsWrapper {
	display: flex;
}
.action-button {
	display: flex;
	margin-left: 0.5rem;
	background-color: $red-color;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
	border: 0;
	outline: 0;
	svg {
		width: 15px;
		height: 15px;
		fill: $white-color;
	}

	&:hover {
		background-color: transparent;
		box-shadow: $box-shadow;
		svg {
			fill: $red-color;
		}
	}
}

.table-responsive {
	margin-top: 2rem;
	padding: 2rem;
	background-color: $white-color;
	box-shadow: $box-shadow;
	border-radius: 1rem;
	.Table_wrapper {
		padding: 2rem 1.25rem;
		min-height: 500px;
		.cs-table {
			position: relative;
			vertical-align: middle;
			width: 100%;
			border-width: 0 !important;
			border-color: #2b2b40;
			border-collapse: collapse !important;
			white-space: nowrap;
			.thead {
				vertical-align: bottom;
				border-style: solid;
				border-width: 0;
				.thead_row {
					color: $white-color !important;

					.thead_cels {
						background-color: $red-color !important;
						padding-top: 1rem;
						padding-bottom: 1rem;
						&:first-child {
							border-top-left-radius: 10px;
							border-bottom-left-radius: 10px;
							padding-left: 1rem;
						}

						&:last-child {
							min-width: 50px;
							border-top-right-radius: 10px;
							border-bottom-right-radius: 10px;
							padding-right: 1rem;
						}
					}
				}
			}
			.tbody {
				.table_body_row {
					.table_body_d {
						padding: 1rem;
						&:first-child {
							text-align: center;
						}
						span {
							font-size: 0.8rem;
							@media (min-width: 768px) {
								font-size: 1rem;
							}
							font-weight: bold;
						}
						P {
							font-size: 0.8rem;
							margin: 0;
						}
						.accept {
							width: 25px;
							height: 25px;
							background-color: $green-color;
							color: $white-color;
						}
						.reject {
							width: 25px;
							height: 25px;
							background-color: $red-color;
							color: $white-color;
						}
					}
				}
			}
		}
	}
}
