.city__select{
    color: #333;
    width: 100%;
    
    &__label{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 10px ;
        padding-right: 0;
    }
    &__input{
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}