@import "styles/global.scss";
.categories-wrapper {
	background-color: $white-color;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 1rem 2rem;
	margin-top: 20px;
	border-radius: 20px;
	.category {
		flex: 1 1 300px;
		max-width: 300px;
		h5 {
			font-size: 1.2rem;
			font-weight: bold;
		}
		ul {
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				display: flex;
				align-items: center;
				gap: 5px;
				margin-bottom: 10px;
			}
		}
	}
}
