.hero__content {
  &__title {
    width: 50%;
    text-align: center;
    font-size: 3.875rem;
    font-weight: bolder;
  }
  &__wrapper {
    display: flex;
    gap: 1rem;
    a {
      font-size: 18px;
      border-radius: 36px;
      padding: 1.5rem 2.4375rem;
      &:nth-child(1) {
        color: #333;
        background-color: #fff;
      }
      &:nth-child(2) {
        color: #fff;
        background-color: crimson;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.hero__header {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 2rem auto 0 auto;
  background-color: #fff;
  height: 86px;
  border-radius: 65px;
  color: #333;
  .row {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .seconde-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      nav {
        ul {
          display: flex;
          justify-content: center;
          list-style-type: none;
          gap: 1rem;
          padding: 0;
          margin: 0;

          li {
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
      .favorites {
        position: relative;
        span {
          position: absolute;
          bottom: -5px;
          left: -2px;
          background-color: red;
          color: #fff;
          text-align: center;
          width: 20px;
          height: 20px;
          font-size: 9px;
          padding: 3px;
          font-weight: bold;
          line-height: 19px;
          border-radius: 50%;
        }

        svg {
          width: 30px;
          height: 30px;
        }
      }
      .btn-book-now {
        color: #fff;
        border-radius: 30px;
        font-weight: bold;
        font-size: 1rem;
        padding: 16.5px;
      }
    }
    .first-row {
      display: flex;
      align-items: center;
      gap: 7px;
      span {
        margin-top: 12px;
        font-size: 24px;
        font-weight: bold;
      }
      svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}
