@import "../../styles/global.scss";
.hambergur-menu {
  position: relative;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 70px;
  z-index: 3;
  border-radius: 65px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    li {
      &:last-child {
        a {
          color: #fff;
        }
      }
      a {
        display: block;
        margin-bottom: 12px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        color: #333;

        &:hover {
        }
      }
    }
  }
}
.logo {
  width: 83px;
  height: 25px;
  display: inline-block;
  position: absolute;
  margin-left: 16px;
  top: 50%;
  transform: translateY(-50%);
  img {
    width: 100%;
  }
}
.hambergur-favorites {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  span {
    position: absolute;
    bottom: -5px;
    left: -2px;
    background-color: red;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 9px;
    padding: 3px;
    font-weight: bold;
    line-height: 19px;
    border-radius: 50%;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}
/* menu */
.hambergur-menu .menu {
  position: absolute;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  border-radius: 24px;
  width: 100%;
  top: 90px;
}
.menu-wrapper {
  padding: 1.5rem;
}

/* menu icon */

.hambergur-menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 36px 20px;
  margin-right: 51px;
  position: relative;
  user-select: none;
}

.hambergur-menu .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 28px;
}

.hambergur-menu .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hambergur-menu .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.hambergur-menu .menu-btn {
  display: none;
}

.hambergur-menu .menu-btn:checked ~ .menu {
  max-height: 240px;
  height: 240px;
}

.hambergur-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: $black-color;
  transform: rotate(45deg);
}
.hambergur-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(90deg);
}

.hambergur-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.hambergur-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 74rem) {
  .hambergur-menu li {
    float: left;
  }
  .hambergur-menu li a {
    // padding: 20px 30px;
  }
  .hambergur-menu .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .hambergur-menu .menu-icon {
    display: none;
  }
}
