@import "styles/global.scss";
.AddImage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: $red-color;
  padding: 18px 24px;
  border-radius: 36px;
  font-size: 16px;
  color: $white-color;
  font-weight: bold;
  box-shadow: "0px 4px 10px rgba(20, 20 ,40, .04)";
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: $white-color;
    color: $black-color;
  }
  i {
    font-size: 1.2rem;
  }
}
