@import "../../styles/global.scss";
.CallToAction {
	background-color: $red-color;
	margin: 0 15px;
	padding: 50px 30px;
	border-radius: 30px;
	@media (min-width: 767px) {
		width: 80%;
		margin: 0 auto;
	}
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (min-width: 767px) {
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 20px;
		}
		span {
			color: $white-color;
			font-size: 1.285rem;
			font-weight: bold;
			@media (min-width: 767px) {
				font-size: 2.75rem;
				line-height: 2.75rem;
			}
		}
	}
	&__body {
		p {
			color: $white-color;
			font-size: 0.928rem;
			padding: 6px 9px;
			@media (min-width: 767px) {
				font-size: 1.5625rem;
			}
		}
	}
	&__footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 11px;
		@media (min-width: 767px) {
			flex-direction: row;
			justify-content: start;
		}
	}
}
