.placeholder {
  font-weight: 300;
  line-height: 1.25;
  color: rgba(19, 27, 31, 0.5);
  font-size: 14px;
}
.vilaFinder {
  width: 100%;
  overflow-x: hidden;
  i {
    font-size: 20px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    color: #333;
    border-radius: 7px;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    gap: 1rem;
          .date-wrapper{
            width: 100%;
          }
    .search-label {
      font-size: 1.2rem;
      padding-left: 5px;
    }
    
  }
}
