@import "../../../styles/global.scss";
.gallery {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .upload-image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: $gray-color;
      margin: 0;
      padding-bottom: 1rem;
    }
    input {
      outline: 0;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  &__body {
    background-color: #fff;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 24px;
    box-shadow: 0 2px 12px rgba($color: $black-color, $alpha: 8%);
    .row {
      .item-card {
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        @media (min-width: 768px) {
          margin: 5px;
          max-width: 24%;
        }
        border-radius: 24px;
        box-shadow: 0 2px 12px rgba($color: $black-color, $alpha: 8%);
        .item-title {
          font-size: 1.2rem;
          padding: 1rem;
          font-weight: bold;
          color: $black-color;
        }
      }
    }
  }
}

.imageGallery {
  position: relative;
  width: 100%;
  max-width: 400px;
  img {
    width: 100%;
    border-radius: 24px 24px 0 0;
  }
  .edit-title {
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
    transition: all 200ms ease;
    background-color: rgba(255, 255, 255, 0.6);
    color: $black-color;
    font-size: 0.85rem;
    &:hover {
      background-color: rgb(255, 187, 0);
    }
  }
  .delete-btn {
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
    transition: all 200ms ease;
    background-color: rgba(255, 255, 255, 0.6);
    color: $black-color;
    font-size: 0.85rem;
    &:hover {
      background-color: $red-color;
    }
  }
  .actions {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.img-preview {
  border-radius: 30px !important;
}
