@import "../../styles/global.scss";
.copy-right {
  display: flex;
  justify-content: center;
  background-color: $gray-color;
  text-align: center;
  height: 77px;
  p {
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
    line-height: 2.4;
    color: $white-color;
    font-weight: bold;
  }
}
