.form-layout-wrapper {
  position: relative;
  // width: 50%;
  // width: 100%;
  // margin: 0 auto;
  display: flex;
  justify-content: center;

  .form-wrapper {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    .first-form {
      padding: 1rem;
      position: absolute;
      opacity: 1;
      transition: all 200ms linear;
    }

    .first-form.email-deactive {
      opacity: 0;
      visibility: hidden;
      // transform: translateX(-200px);
    }
    .seconde-form {
      padding: 1rem;
      opacity: 1;
      transition: all 200ms linear;

      .phone-input-wrapper {
        padding: 0;
        border: 1px solid #ccc;
        span {
          width: 30px;
          height: 34px;
          background-color: #ddd;
        }
        p {
          background-color: #ddd;
          padding: 5px 10px;
          padding: 5px;
          margin: 0;
        }
        .phone-input {
          direction: ltr;
          border: 0;
        }
      }
    }
    .seconde-form.phone-deactive {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-400px);
    }
    .verification-code {
      position: relative;
      margin-bottom: 1rem;

      :dir(rtl) {
        background-color: powderblue;
      }
    }

    .verification-code input {
      border: 0;
      box-shadow: none;
      outline: none;
      font-size: 1.5em;
      height: 1.2em;
      letter-spacing: 0.8em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-weight: 320;
      background: transparent;
      color: #646464;
      overflow: hidden;
      // padding-left: 8.5rem;
      padding: 0;
    }

    .verification-code input:focus,
    .verification-code input:active,
    .verification-code input:visited {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }

    .verification-code span {
      position: absolute;
      bottom: 0;
      left: 0.625em;
      width: 1.4375em;
      height: 0.125em;
      background-color: #646464;
      border-radius: 1.875em;
    }

    .verification-code span:nth-child(3) {
      // left: 8.275em;
      left: 0;
    }
    .verification-code span:nth-child(4) {
      // left: 10.275em;
      left: 2rem;
    }
    .verification-code span:nth-child(5) {
      // left: 12.275em;
      left: 4rem;
    }
    .verification-code span:nth-child(6) {
      // left: 14.275em;
      left: 6rem;
    }
    .verification-code span:nth-child(7) {
      // left: 16.275em;
      left: 8rem;
    }
    .verification-code span:nth-child(8) {
      // left: 18.275em;
      left: 10rem;
    }
  }
}
.more-options {
  p {
    display: table;
    white-space: nowrap;
    &:before,
    &:after {
      border-top: 1px solid #ccc;
      content: "";
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before {
      right: 1.5%;
    }
    &:after {
      left: 1.5%;
    }
  }

  .signin-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    .signin-option {
      border: 1px solid #ccc;
      background-color: transparent;
      padding: 0.8rem;
      transition: all 200ms linear;
      &:hover {
        border-color: #333;
      }
      svg {
        width: 50px;
        height: 50px;
      }
    }
  }
}
