@import "../../../styles//global.scss";
.blog-card-wrapper {
  width: 310px;
  height: 444px;

  @media (min-width: 424px) {
    width: 390px;
    height: 560px;
  }
  .blog-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: 0px 2px 12px rgba($color: #14142b, $alpha: 8%);
    border-radius: 24px;

    .blog-card-img {
      border-radius: 24px;
      width: 100%;
      height: 444px;
      object-fit: cover;
      @media (min-width: 424px) {
        height: 560px;
      }
    }
    .blog-card-img-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem;
      border-radius: 0 0 24px 24px;
      background-color: #fff;
      width: calc(100% + 2px);
      margin-left: -1px;
      box-shadow: 0px 2px 12px rgba($color: #14142b, $alpha: 8%);

      .card-title {
        color: $red-color;
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card-text {
        font-size: 1.125rem;
        color: $gray-color;
        line-height: 1.125;
      }
    }
  }
}
