$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

#mainFAQ {
  height: 100%;

  @media (max-width: 767px) {
    width: 100%;
    padding: 1rem;
  }
  padding-right: 5rem;
  padding-left: 5rem;
  align-items: center;
  .accordion-flush {
    padding-right: 10rem;
    padding-left: 10rem;
    @media (max-width: 767px) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}
.accordion-button:not(.collapsed) {
  color: #333;
  background-color: #f7d9d9;
}
.accordion-button:focus {
  border-color: hsl(0, 0%, 24%);
  outline: 0;
  box-shadow: 0 0 0 0.05rem #f25487 !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: $accordion-button-icon;
}
.accordion-button collapsed::after {
  background-image: $accordion-button-active-icon;
}

.accordion-title {
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #00000021;
  padding-bottom: 1rem;
}

.bottomText {
  padding-top: 2rem;
  text-align: center;
  align-items: center;
  .accordion-link {
    color: #f25487 !important;
    text-decoration: none;
    // font-style: italic;
  }
}
